<p>from flask import Flask,render_template,request</p>

<p>app = Flask(__name__)</p>

<p>def addressToCoords(address):  from geopy.geocoders import Nominatim</p>

<p> geolocator = Nominatim(user_agent=&quot;myGeocoder&quot;)  location = geolocator.geocode(address)  return (location.latitude, location.longitude)</p>

<p>def dist_from_coord(coord1,coord2):  from math import sin, cos, sqrt, atan2, radians</p>

<p> # approximate radius of earth in km  R = 6373.0</p>

<p> lat1 = radians(coord1[0])  lon1 = radians(coord1[1])  lat2 = radians(coord2[0])  lon2 = radians(coord2[1])</p>

<p> dlon = lon2 - lon1  dlat = lat2 - lat1</p>

<p> a = sin(dlat / 2)**2 + cos(lat1) * cos(lat2) * sin(dlon / 2)**2  c = 2 * atan2(sqrt(a), sqrt(1 - a))</p>

<p> distance = R * c  return distance</p>

<p>def temp_from_coord(coord1,coord2):  import requests</p>

<p> url = &quot;https://climacell-microweather-v1.p.rapidapi.com/weather/realtime&quot;  headers = {  'x-rapidapi-host': &quot;climacell-microweather-v1.p.rapidapi.com&quot;,  'x-rapidapi-key': &quot;d0871a36edmsh993d20e4de72726p12c7f9jsnf307c256e63e&quot;  }</p>

<p> lat1 = coord1[0]  lon1 = coord1[1]  lat2 = coord2[0]  lon2 = coord2[1]</p>

<p> print(lat1,lon1,lat2,lon2)</p>

<p> querystring = {&quot;unit_system&quot;:&quot;si&quot;,&quot;fields&quot;:&quot;temp&quot;,&quot;lat&quot;:lat1,&quot;lon&quot;:lon1}  response = requests.request(&quot;GET&quot;, url, headers=headers, params=querystring)  temp1=response.json()['temp']['value']  print(temp1)  querystring = {&quot;unit_system&quot;:&quot;si&quot;,&quot;fields&quot;:&quot;temp&quot;,&quot;lat&quot;:lat2,&quot;lon&quot;:lon2}  response = requests.request(&quot;GET&quot;, url, headers=headers, params=querystring)  temp2=response.json()['temp']['value']  print(temp2)  return temp1-temp2</p>

<p>def send_email(email,first,second,distance,units,diff):  from email.mime.text import MIMEText  import smtplib</p>

<p> from_email=&quot;tompython8@gmail.com&quot;  from_password=&quot;Python11&quot;  to_email=email</p>

<p> subject=&quot;GEOCODER 9000 - data&quot;  message=&quot;Distance from {} to {}: {} {}.<br>Temp difference: {}&deg;C&quot;.format(first,second,distance,units,diff)</p>

<p> msg=MIMEText(message, 'html')  msg['Subject']=subject  msg['To']=to_email  msg['From']=from_email</p>

<p> gmail=smtplib.SMTP('smtp.gmail.com',587)  gmail.ehlo()  gmail.starttls()  gmail.login(from_email, from_password)  gmail.send_message(msg)</p>

<p>@app.route(&quot;/&quot;) def index():  return render_template(&quot;index.html&quot;)</p>

<p>@app.route(&quot;/success&quot;,methods=['POST']) def success():  if request.method=='POST':  first=request.form[&quot;first&quot;]  second=request.form[&quot;second&quot;]  mail=request.form[&quot;mail&quot;]  units=request.form['units']</p>

<p> first_coord = addressToCoords(first)  second_coord = addressToCoords(second)</p>

<p> distance = dist_from_coord(first_coord,second_coord)</p>

<p> if units == 'mi':  distance/=1.609  elif units == 'Football fields':  distance/=0.09  distance=round(distance,1)  diff=round(temp_from_coord(first_coord,second_coord),1)  send_email(mail,first,second,distance,units,diff)  if diff < 0:  hiLow='lower'  elif diff > 0:  hiLow='higher'</p>

<p> return render_template(&quot;success.html&quot;, first=first, second = second,distance=distance,units=units,diff=diff,hiLow=hiLow)</p>

<p>if __name__=='__main__':  app.debug=True  app.run()</p>
